/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700;800;900&display=swap");

body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Space Grotesk", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-size: 36px;
    font-weight: 900;
    color: #252525;
    text-align: center;
}

.dark-bg {
    background-color: #10102b;
}

.before-line {
    &::before {
        content: "";
        display: block;
        height: 10px;
        width: 32px;
        border-radius: 40px;
        background: rgb(149, 12, 255);
        background: linear-gradient(159deg, rgba(149, 12, 255, 1) 0%, rgba(0, 0, 167, 1) 100%, rgba(0, 0, 167, 1) 100%);
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.section-subtitle {
    font-size: 18px;
    color: #0E0E0E;
    padding: 20px 0;
    text-align: center;
    line-height: 24px;
    max-width: 940px;
    margin: 0 auto;

    b {
        font-weight: bold;
    }
}

.white {
    color: white;
}


.burgerdiv {
    display: none;
}



.banner {
    background-image: url(assets/CAPA_SITE_2023.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    header {
        padding: 35px 0;


        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            cursor: pointer;
            max-width: 140px;

            img {
                width: 100%;

            }
        }

        nav {
            display: flex;

            a {
                padding: 10px;
                margin: 0 15px;
                cursor: pointer;
                font-weight: 500;
                color: white;
                text-decoration: none;

                transition: ease-in-out 0.2s;

                &:hover {
                    color: #e1e1e1;
                }
            }
        }

        .meet-bevel {
            display: flex;
            justify-content: flex-end;

            a {
                cursor: pointer;
                display: block;
                font-size: 16px;
                padding: 8px 10px;
                border-radius: 12px;
                font-weight: 600;
                transition: all 0.3s ease;
                text-decoration: none;
                color: white;
                font-size: 25px;

                .top-fix {
                    position: relative;
                    top: 2px;
                }

                &:hover {
                    background: #363636;
                }
            }
        }
    }

    .left,
    .right {
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        position: relative;

        .icon {
            position: absolute;
            top: 229px;
            left: -146px;

        }
    }

    .info {
        flex: 1;
        display: flex;
        position: relative;
        top: -40px;

        h1 {
            font-size: 60px;
            font-weight: bold;
            color: white;
            position: relative;
            line-height: 70px;
        }

        a {
            display: block;
            padding: 15px 40px;
            border-radius: 12px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #252525;
            transition: all 0.3s ease;
            max-width: -moz-max-content;
            max-width: max-content;
            margin-top: 40px;
            color: white;
            border: 1px solid white;
            padding: 14px 39px;
        }
    }


    .camera {
        margin: 0 auto;

        img {
            width: 90%;
        }
    }
}

.title {
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.section {
    padding: 120px 0;
}

.who-we-are {
    background-color: #10102b;
    padding: 120px 0;
    border-bottom: 1px solid #424264;

    b {
        font-weight: bold !important;
    }

    span {
        padding: 3px 7px;
        font: normal 500 1.4rem/2.5rem "Space Grotesk", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.06rem;
        color: #a6a4f6;
        border: 1px solid #a6a4f6;
        -moz-border-radius: 1.3rem;
        border-radius: 1.3rem;
        font-size: 16px;
        margin-bottom: 30px;
        display: block;
        max-width: max-content;
        line-height: 19px;
    }

    p {
        color: #a9a9ca;
        margin-top: 18px;
        font-size: 18px;
        line-height: 24px;
    }

    h2 {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #ffffff;
        font-weight: 400;
        font-size: 56px;
    }


}

.video {

    background-color: #5E07DE;

    .container {
        display: flex;
        flex-direction: row;

        img {
            max-width: 50%;
        }

        .video-container {
            width: 50%;
            max-width: 50%;
        }
    }
}

.about {
    padding-bottom: 140px;
    position: relative;

    .numbers {
        display: flex;
        padding: 60px;
        background-color: #9324C1;
        border-radius: 10px;
        position: relative;
        top: -15px;


        .number {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            flex: 1;

            h3 {
                font-size: 56px;
                font-weight: bold;
                color: white;
            }

            p {
                font-size: 16px;
                text-align: center;
                color: white;
            }
        }
    }

    .about-box {
        background-color: white;
        border-radius: 10px;
        padding: 30px 0;
        z-index: 2;
        position: relative;
    }

    .arrow {
        width: 60px;
        display: block;
        margin: 0 auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: -19px;
    }
}

a {
    text-decoration: none;
}

.portfolio-2 {
    .options {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        .label {
            display: block;
            border-radius: 40px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #252525;
            transition: all 0.3s ease;
            max-width: -moz-max-content;
            max-width: max-content;
            color: white;
            border: 1px solid white;
            padding: 10px 30px;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            opacity: 0.5;
        }
    }

    .items {
        display: flex;
        gap: 15px;
        margin-top: 20px;

        .img {
            border-radius: 12px;
            overflow: hidden;

            img {
                max-width: 100%;
                display: block;
            }
        }

        .item-container {
            max-width: 25%;
        }

        .item {
            border-radius: 20px;
            padding: 30px 15px;
            background: rgb(20, 20, 56);
            background: linear-gradient(157deg, rgba(20, 20, 56, 1) 0%, rgba(40, 40, 98, 1) 30%, rgba(34, 34, 83, 1) 100%);

            h3 {
                font-size: 18px;
                font-weight: 500;
                color: white;
                margin-bottom: 20px;
            }
        }
    }
}

.portfolio {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;

    background-color: #00004D;

    .item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 0 50px 0;


        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            position: relative;

            &>img {
                position: absolute;
                bottom: -119px;
                display: none;
            }



            h2 {
                color: white;
                font-size: 24px;
                font-weight: bold;
                margin-top: 20px;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #3E1181;
                padding: 40px;
                cursor: pointer;
                transition: 0.1s ease-in;
                border-radius: 50%;

                &:hover {
                    background-color: #4e10ac;
                }

                img {
                    max-width: 116px;
                }


            }

            &.active {

                .icon {
                    img {
                        filter: invert(41%) sepia(48%) saturate(456%) hue-rotate(262deg) brightness(96%) contrast(95%);
                    }

                    background-color: white;
                }

                &>img {
                    display: block;
                }

            }
        }
    }


}

.about-2 {
    background-color: #10102b;
    padding: 40px 0;

    .container {
        display: flex;
        align-items: center;
    }

    .right {
        padding-right: 120px;

        .title {
            font-size: 42px;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            font-weight: 400;
        }

        p {
            color: #a9a9ca;
            margin-top: 18px;
            font-size: 18px;
            line-height: 24px;
        }

        a {
            display: block;
            padding: 15px 40px;
            border-radius: 12px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #252525;
            transition: all 0.3s ease;
            max-width: max-content;
            margin-top: 20px;
            color: white;
            border: 1px solid white;
            padding: 14px 39px;

            &:hover {
                background: white;
                color: #252525;
            }
        }
    }

    .camera {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 55px;
        box-sizing: border-box;
        padding: 0 120px;

        img {
            max-width: 100%;
        }
    }
}


.fotos-section {
    padding: 80px 0;

    .title {
        font-size: 28px;
        font-weight: bold;
        color: #252525;
    }

    .fotos {
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;


        .foto {

            flex: 0 0 33%;
            max-width: 32%;
            box-sizing: border-box;
            padding: 6px;

            img {
                max-width: 100%;
            }
        }
    }
}

.our-services {
    padding: 140px 0;
    background: url('assets/bg-service.png');
    background-size: cover;
    background-repeat: no-repeat;


    .services {
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;

        .service-container {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            display: block;

            .service {
                padding: 30px;
                border-radius: 9px;
                border: 1px solid #eaeaea;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(45, 72, 204, 0.11);
                box-shadow: 0px 0px 10px 0px rgba(45, 72, 204, 0.11);
                margin: 15px;
                transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                height: calc(100% - 20px);
                background-color: white;
                text-decoration: none;
                box-sizing: border-box;

                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #252525;
                    margin-bottom: 15px;
                    height: 80px;

                    &::before {
                        content: "";
                        display: block;
                        height: 10px;
                        width: 52px;
                        border-radius: 40px;
                        background: #950cff;
                        background: linear-gradient(159deg, #950cff 0%, #0000a7 190%);
                        margin-bottom: 15px;
                    }
                }

                p {
                    font-size: 14px;
                    color: #888888;
                    line-height: 20px;
                    flex: 1;
                }

                span {
                    margin-left: auto;
                    display: block;
                    max-width: max-content;
                    font-size: 14px;
                    color: #252525;
                    padding: 2px;
                    border-bottom: 2px solid #950cff;
                }

                &:hover {
                    background: #860bf6;
                    transform: translateY(-5px);

                    h3 {
                        color: white;

                        &::before {
                            background: white;
                        }
                    }

                    p {
                        color: white;
                    }

                    span {
                        color: white;
                        border-color: white;
                    }
                }
            }
        }
    }



}

.news {
    .instagram-row {
        display: flex;
        background: #950cff;
        border-radius: 22px;
        padding: 38px 60px;
        align-items: center;
        justify-content: space-between;
        margin: 77px auto;

        .left-side {
            h2 {
                color: white;
                font-size: 36px;
                font-weight: bolder;
            }

            p {
                color: white;
                font-size: 20px;
                margin-top: 10px;
            }
        }

        a {
            display: block;
            background: white;
            padding: 15px 40px;
            border-radius: 12px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #252525;

            transition: all 0.3s ease;

            &:hover {
                background: #252525;
                color: white;
            }
        }
    }
}

.contact {
    background-image: url(assets/bg-contato.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0;

    .form-box {
        padding: 60px 40px;
        position: relative;

        .checkbox {
            display: flex;
            align-items: center;
            margin-top: 10px;

            input {
                width: 30px;
            }

            b {
                a {
                    font-weight: bold;
                    color: #950cff;
                }

            }

        }

        .popup {
            position: absolute;
            top: 0;
            width: 90%;
            height: 100%;
            background: #ffffffc2;
        }

        img {
            max-width: 310px;
            display: block;
            margin: 0 auto;
            position: relative;
            top: 260px;
        }

        h3 {
            font-size: 28px;
            color: #252525;
            font-weight: 900;

            &::after {
                content: "";
                display: block;
                width: 90px;
                height: 5px;
                background: #950cff;
                background: linear-gradient(159deg, #950cff 0%, #0000a7 190%);
                border-radius: 40px;
                margin-top: 6px;
                margin-bottom: 40px;
            }
        }

        max-width: 600px;
        display: block;
        margin: 0 auto;
        background: white;
        border-radius: 29px;
        margin-top: 40px;

        input,
        select {
            padding: 14px 18px;
            border-radius: 13px;
            border: 1px solid #c2c2c2;
            width: 100%;
            display: block;
            box-sizing: border-box;
            color: #4f514f;
            margin: 15px 0;
            transition: all 0.2s ease-in-out;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #4f514f;
                opacity: 1;
                /* Firefox */
            }

            &:focus {
                outline: none;

                border: 1px solid #950cff;
            }
        }

        select::-ms-expand {
            display: none;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }

        textarea {
            padding: 14px 18px;
            border-radius: 13px;
            border: 1px solid #c2c2c2;
            width: 100%;
            display: block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: black;
            font-family: "Inter", sans-serif;
            height: 150px;
            transition: all 0.2s ease-in-out;
            resize: none;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #252525 !important;
                opacity: 1;
                /* Firefox */
            }

            &:focus {
                outline: none;

                border: 1px solid #950cff;
            }
        }

        button {
            width: 100%;
            display: flex;
            padding: 18px 0;
            border: 0;
            border-radius: 12px;
            margin-top: 40px;
            background: #950cff;
            color: white;
            font-weight: bold;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            gap: 10px;
            justify-content: center;
            align-items: center;

            &:hover {
                background: #a42cff;
            }
        }
    }
}

footer {
    background: #252525;
    padding: 47px 0;
    display: flex;

    .container {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    a {
        width: 40px;
        display: block;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;

        img {
            display: block;
            width: 100%;
            color: white;
        }
    }

    .top2 {
        position: relative;
        top: -2px;
    }

    p {
        color: white;
    }
}

@media only screen and (max-width: 1100px) {
    .banner {
        .left-side {
            padding-top: 160px;
            padding-bottom: 168px;

            h1 {
                font-size: 48px;
            }
        }

        .right-side {
            img {
                max-width: 950px;
                left: -59px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .container {
        max-width: 760px;
    }

    .news .instagram-row {
        flex-direction: column;
    }

    .video .container img {
        display: none;
    }

    .who-we-are {
        span {
            margin: 0 auto;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            font-size: 16px;
        }
    }

    .news .instagram-row {
        .right-side {
            margin-top: 20px;
        }
        .left-side {

            p,
            h2 {
                text-align: center;
            }
        }
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    .video .container .video-container {
        width: 100%;
        max-width: 100%;
    }

    .video,
    .who-we-are,
    .sec {
        padding: 80px 0;
    }

    .portfolio-2 .items {
        flex-direction: column;

        .cardWrap {
            margin: 0;

        }

        .card {
            height: 200px;
        }
    }

    .banner .left .icon,
    .banner .right .icon {
        top: -61px;
        left: -106px;
    }

    .scroll-indicator {
        left: 46% !important;

        i {
            font-size: 40px !important;
        }
    }

    .burgerdiv {
        button {
            top: 52px;
        }
    }

    .contact .form-box h3 {
        font-size: 24px;
    }

    .banner {
        background-size: auto;
        border-top: 100px solid white;

        .left {
            margin-top: 40px;
        }

        .camera img {
            width: 80%;
            margin: 0 auto;
            display: block;
        }

        .info {
            h1 {
                font-size: 38px;
                font-weight: bold;
                color: white;
                position: relative;
                text-align: center;
                line-height: 42px;
                margin-top: 60px;
            }
        }

        .right-side {
            display: none;
        }

        .left-side {
            max-width: 100%;
            flex: 1;
            padding-top: 100px;
            padding-bottom: 100px;

            h1 {
                font-size: 36px;
                line-height: 55px;
                text-align: center;
            }

            h2 {
                text-align: center;
            }

            a {
                margin: 0 auto;
            }
        }
    }

    .section-subtitle {
        font-size: 14px;
    }

    .section-title {
        font-size: 28px;
    }

    header nav {
        display: none;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 1;
        background: white;

        display: flex;
        background: none;
        position: relative;
        display: flex !important;

        nav {
            display: none !important;
        }

        .meet-bevel {
            display: none;
        }
    }

    .burgerdiv {
        display: block;
    }

    .our-services {
        .services {
            margin-top: 30px;

            .service-container {
                max-width: 50%;
                flex: 0 0 50%;

                .service {
                    h3 {
                        font-size: 20px;
                    }

                    p {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .instagram-row {
            flex-direction: column;
            margin: 0;
            margin-top: 40px;
            border-radius: 9px;

            a {
                margin-top: 20px;
            }

            .left-side {
                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 360px;
    }

    .contact {
        padding: 100px 0;

        .form-box h3 {
            font-size: 24px;
        }
    }

    .contact {
        .form-box {

            .checkbox {
                label {
                    font-size: 12px;
                    text-align: left;
                    padding-left: 10px;
                }
            }

            .popup {
                width: 80%;

                img {
                    width: 260px;
                }
            }
        }
    }

    .banner {
        border-top: none;

        .right-side {
            display: block;
            max-width: 100%;

            img {
                max-width: 100%;
                left: 45px;
            }
        }

        .left-side {
            max-width: 100%;
            flex: 1;
            padding-top: 60px;
            padding-bottom: 70vw;

            h1 {
                font-size: 36px;
                line-height: 55px;
            }

            h2 {
                display: none;
            }

            a {
                display: none;
            }
        }
    }

    .section-subtitle {
        font-size: 14px;
    }

    .section-title {
        font-size: 28px;
    }

    header nav {
        display: none;
    }

    header {
        padding: 20px 0;
    }

    .about {
        padding: 100px 0;

        .numbers {
            flex-direction: column;
            gap: 60px;

            .number {
                h3 {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .our-services {
        padding: 100px 0;

        .services {
            margin-top: 30px;
            flex-direction: column;

            .service-container {
                max-width: 100%;
                flex: 1;

                .service {
                    margin: 0 0 15px 0;

                    h3 {
                        font-size: 20px;
                    }

                    p {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .instagram-row {
            flex-direction: row;
            margin: 0;
            margin-top: 40px;
            padding: 20px 20px;
            border-radius: 9px;

            a {
                margin-top: 0;
                padding: 15px 24px;
                font-size: 14px;
            }

            p {
                display: none;
            }

            .left-side {
                h2 {
                    font-size: 16px;
                    margin-bottom: 0px;
                    text-align: left;
                }
            }
        }
    }
}

///////////////////////

.burgerdiv {
    display: none;

    button {
        position: fixed;
        top: 38px;
        right: 20px;
        width: 40px;
        height: 22px;
        background: none;
        box-shadow: none;
        border: none;
        outline: 0;
        cursor: pointer;
        z-index: 10;

        span {
            position: absolute;
            left: 50%;
            width: 26px;
            height: 2px;
            background-color: #000;

            &:nth-child(1) {
                top: 0;
                transform: translateX(-50%) translateY(0);
                transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
                    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
            }

            &:nth-child(2) {
                top: 8px;
                opacity: 1;
                transform: translateX(-50%);
            }

            &:last-child {
                top: 16px;
                transform: translateX(-50%) translateY(0);
                transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
                    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
            }
        }

        &.open {
            span {
                button {
                    position: fixed;
                    top: 20px;
                    left: 20px;
                    width: 40px;
                    height: 22px;
                    background: none;
                    box-shadow: none;
                    border: none;
                    outline: 0;
                    cursor: pointer;
                    z-index: 10;

                    span {
                        position: absolute;
                        left: 50%;
                        width: 26px;
                        height: 2px;
                        background-color: #000;

                        &:nth-child(1) {
                            top: 0;
                            transform: translateX(-50%) translateY(0);
                            transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
                                transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
                        }

                        &:nth-child(2) {
                            top: 8px;
                            opacity: 1;
                            transform: translateX(-50%);
                        }

                        &:last-child {
                            top: 16px;
                            transform: translateX(-50%) translateY(0);
                            transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
                                transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
                        }
                    }

                    &.open {
                        span {
                            &:nth-child(1) {
                                top: 50%;
                                transform: translateX(-50%) translateY(0) rotate(45deg);
                                transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
                                    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
                            }

                            &:nth-child(2) {
                                opacity: 0;
                            }

                            &:last-child {
                                top: 50%;
                                transform: translateX(-50%) translateY(0) rotate(-45deg);
                                transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
                                    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
                            }
                        }
                    }
                }

                nav {
                    position: fixed;
                    left: 0;
                    height: 100vh;
                    padding: 50px;
                    background-color: #e9e9e9;
                    transform: translateX(-100%);
                    transition: all 0.2s ease-out;

                    ul {
                        list-style-type: none;
                        text-align: right;
                    }

                    li {
                        padding: 12px 0;
                    }

                    a {
                        position: relative;
                        text-decoration: none;
                        color: #000;
                    }

                    &.open {
                        transform: translateX(0);
                    }
                }

                .page-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100vh;
                }

                h1 {
                    text-transform: uppercase;
                    margin-bottom: 0;
                }

                &:nth-child(1) {
                    top: 50%;
                    transform: translateX(-50%) translateY(0) rotate(45deg);
                    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
                        transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    top: 50%;
                    transform: translateX(-50%) translateY(0) rotate(-45deg);
                    transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
                        transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
                }
            }
        }
    }

    nav {
        top: 91px;
        position: fixed;
        right: 0;
        height: 100vh;
        padding: 50px;
        background-color: white;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        z-index: 1;
        border-left: 1px solid #e1e1e1;

        ul {
            list-style-type: none;
            text-align: right;
            margin-bottom: 20px;
        }

        li {
            padding: 12px 0;
        }

        a {
            position: relative;
            text-decoration: none;
            color: #000;
        }

        &.open {
            transform: translateX(0);
        }
    }

    .page-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    h1 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.terms {

    padding-bottom: 60px;

    h1 {
        font-weight: bold;
        text-align: center;
        font-size: 32px;
        margin: 50px 0;
    }

    p {
        white-space: pre-line;
        line-height: 27px;
    }
}

@media only screen and (max-width: 960px) {

    .burgerdiv {
        button {
            top: 52px;
        }
    }
}

@media only screen and (max-width: 600px) {

    .burgerdiv {
        button {
            top: 38px;
        }
    }
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.2s ease;

    &.active {
        transform: translateY(0px);
        opacity: 1;
    }
}



*::-webkit-scrollbar-button {
    background-color: #950cff;
}

*::-webkit-scrollbar-thumb {
    background-color: #950cff;
}

*::-webkit-scrollbar-track {
    background-color: #f8f9ff;
}

::selection {
    background-color: #950cff;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #950cff;
    transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #950cff;
}

.owl-prev {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 40%;
    left: -65px;
    margin-left: -20px;
    display: block !important;
    border: 0px solid black;
    width: 30px;
    height: 50px;
    transition: 0.2s;

    i {
        font-size: 50px;
    }
}

.owl-next {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 40%;
    right: -55px;
    display: block !important;
    border: 0px solid black;
    width: 30px;
    height: 50px;

    i {
        font-size: 50px;
    }
}

.videos {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px auto;
    }

    .video-container {
        margin: 0 auto;
        max-width: 50%;
        flex: 0 0 47%;
        padding: 15px;

        .video-title {

            background: #5E07DE;
            border-radius: 10px 10px 0 0;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            padding: 25px;
            color: white;
        }

        .video {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%;
            /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.websites {
    margin-top: 100px;

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #B7B7B7;
        margin-top: 20px;

        img {
            width: 100%;
            display: block;
        }

        h2 {
            font-size: 30px;
            font-weight: bold;
            padding: 0 50px;
            color: white;
        }
    }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


.cardWrap {
    margin: 10px;
    -webkit-transform: perspective(800px);
    transform: perspective(800px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
    flex: 1;
}

.cardWrap:hover .cardInfo {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cardWrap:hover .cardInfo p {
    opacity: 1;
}

.cardWrap:hover .cardInfo,
.cardWrap:hover .cardInfo p {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardWrap:hover .cardInfo:after {
    -webkit-transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cardWrap:hover .cardBg {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}

.cardWrap:hover .card {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
        rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
}

.card {
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 240px;
    // width: 240px;
    width: 100%;
    height: 360px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
        inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cardBg {
    opacity: 1;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.cardInfo {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo * {
    position: relative;
    z-index: 1;
}

.cardInfo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,
            left top,
            left bottom,
            from(transparent),
            to(rgba(0, 0, 0, 0.6)));
    background-image: linear-gradient(to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cardInfo h1 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

body {
    background: #f9f9f9;
    color: #333;
}

.scroll-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8px;
    height: 170px;

    color: white;

    i {
        font-size: 50px;

    }

    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}

// @-webkit-keyframes bounce {
// 	 0% { top: 5%; }
// 	 50%   { top: 10%; }
// 	 100% { top: 5%; }
// }

@keyframes bounce {
    0% {
        translate: 0 20px
    }

    50% {
        translate: 0 60px
    }

    100% {
        translate: 0 20px
    }
}