/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700;800;900&display=swap");
body {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Space Grotesk", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 36px;
  font-weight: 900;
  color: #252525;
  text-align: center;
}

.dark-bg {
  background-color: #10102b;
}

.before-line::before {
  content: "";
  display: block;
  height: 10px;
  width: 32px;
  border-radius: 40px;
  background: #950cff;
  background: linear-gradient(159deg, #950cff 0%, #0000a7 100%, #0000a7 100%);
  margin: 0 auto;
  margin-bottom: 15px;
}

.section-subtitle {
  font-size: 18px;
  color: #0E0E0E;
  padding: 20px 0;
  text-align: center;
  line-height: 24px;
  max-width: 940px;
  margin: 0 auto;
}

.section-subtitle b {
  font-weight: bold;
}

.white {
  color: white;
}

.burgerdiv {
  display: none;
}

.mobile {
  display: none;
}

.nomobile {
  display: block;
}

.banner {
  background-image: url(assets/CAPA_SITE_2023.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.banner header {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner header .logo {
  cursor: pointer;
  max-width: 140px;
}

.banner header .logo img {
  width: 100%;
}

.banner header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner header nav a {
  padding: 10px;
  margin: 0 15px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.banner header nav a:hover {
  color: #e1e1e1;
}

.banner header .meet-bevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner header .meet-bevel a {
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 12px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.banner header .meet-bevel a .top-fix {
  position: relative;
  top: 2px;
}

.banner header .meet-bevel a:hover {
  background: #363636;
}

.banner .left,
.banner .right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.banner .left .icon,
.banner .right .icon {
  position: absolute;
  top: 229px;
  left: -146px;
}

.banner .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -40px;
}

.banner .info h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  position: relative;
  line-height: 70px;
}

.banner .info a {
  display: block;
  padding: 15px 40px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #252525;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: -moz-max-content;
  max-width: -webkit-max-content;
  max-width: max-content;
  margin-top: 40px;
  color: white;
  border: 1px solid white;
  padding: 14px 39px;
}

.banner .camera {
  margin: 0 auto;
}

.banner .camera img {
  width: 90%;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.section {
  padding: 120px 0;
}

.who-we-are {
  background-color: #10102b;
  padding: 120px 0;
  border-bottom: 1px solid #424264;
}

.who-we-are b {
  font-weight: bold !important;
}

.who-we-are span {
  padding: 3px 7px;
  font: normal 500 1.4rem/2.5rem "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  color: #a6a4f6;
  border: 1px solid #a6a4f6;
  border-radius: 1.3rem;
  font-size: 16px;
  margin-bottom: 30px;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  line-height: 19px;
}

.who-we-are p {
  color: #a9a9ca;
  margin-top: 18px;
  font-size: 18px;
  line-height: 24px;
}

.who-we-are h2 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 56px;
}

.video {
  background-color: #5E07DE;
}

.video .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.video .container img {
  max-width: 50%;
}

.video .container .video-container {
  width: 50%;
  max-width: 50%;
}

.about {
  padding-bottom: 140px;
  position: relative;
}

.about .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  background-color: #9324C1;
  border-radius: 10px;
  position: relative;
  top: -15px;
}

.about .numbers .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .numbers .number h3 {
  font-size: 56px;
  font-weight: bold;
  color: white;
}

.about .numbers .number p {
  font-size: 16px;
  text-align: center;
  color: white;
}

.about .about-box {
  background-color: white;
  border-radius: 10px;
  padding: 30px 0;
  z-index: 2;
  position: relative;
}

.about .arrow {
  width: 60px;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -19px;
}

a {
  text-decoration: none;
}

.portfolio-2 .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.portfolio-2 .options .label {
  display: block;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #252525;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: -moz-max-content;
  max-width: -webkit-max-content;
  max-width: max-content;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.5;
}

.portfolio-2 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.portfolio-2 .items .img {
  border-radius: 12px;
  overflow: hidden;
}

.portfolio-2 .items .img img {
  max-width: 100%;
  display: block;
}

.portfolio-2 .items .item-container {
  max-width: 25%;
}

.portfolio-2 .items .item {
  border-radius: 20px;
  padding: 30px 15px;
  background: #141438;
  background: linear-gradient(157deg, #141438 0%, #282862 30%, #222253 100%);
}

.portfolio-2 .items .item h3 {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

.portfolio {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
  background-color: #00004D;
}

.portfolio .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 50px 0;
}

.portfolio .item-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.portfolio .item-container .item > img {
  position: absolute;
  bottom: -119px;
  display: none;
}

.portfolio .item-container .item h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.portfolio .item-container .item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3E1181;
  padding: 40px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  border-radius: 50%;
}

.portfolio .item-container .item .icon:hover {
  background-color: #4e10ac;
}

.portfolio .item-container .item .icon img {
  max-width: 116px;
}

.portfolio .item-container .item.active .icon {
  background-color: white;
}

.portfolio .item-container .item.active .icon img {
  -webkit-filter: invert(41%) sepia(48%) saturate(456%) hue-rotate(262deg) brightness(96%) contrast(95%);
          filter: invert(41%) sepia(48%) saturate(456%) hue-rotate(262deg) brightness(96%) contrast(95%);
}

.portfolio .item-container .item.active > img {
  display: block;
}

.about-2 {
  background-color: #10102b;
  padding: 40px 0;
}

.about-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-2 .right {
  padding-right: 120px;
}

.about-2 .right .title {
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

.about-2 .right p {
  color: #a9a9ca;
  margin-top: 18px;
  font-size: 18px;
  line-height: 24px;
}

.about-2 .right a {
  display: block;
  padding: 15px 40px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #252525;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  padding: 14px 39px;
}

.about-2 .right a:hover {
  background: white;
  color: #252525;
}

.about-2 .camera {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 120px;
}

.about-2 .camera img {
  max-width: 100%;
}

.fotos-section {
  padding: 80px 0;
}

.fotos-section .title {
  font-size: 28px;
  font-weight: bold;
  color: #252525;
}

.fotos-section .fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.fotos-section .fotos .foto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  max-width: 32%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
}

.fotos-section .fotos .foto img {
  max-width: 100%;
}

.our-services {
  padding: 140px 0;
  background: url("assets/bg-service.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.our-services .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.our-services .services .service-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  display: block;
}

.our-services .services .service-container .service {
  padding: 30px;
  border-radius: 9px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(45, 72, 204, 0.11);
  box-shadow: 0px 0px 10px 0px rgba(45, 72, 204, 0.11);
  margin: 15px;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 20px);
  background-color: white;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-services .services .service-container .service h3 {
  font-size: 24px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 15px;
  height: 80px;
}

.our-services .services .service-container .service h3::before {
  content: "";
  display: block;
  height: 10px;
  width: 52px;
  border-radius: 40px;
  background: #950cff;
  background: linear-gradient(159deg, #950cff 0%, #0000a7 190%);
  margin-bottom: 15px;
}

.our-services .services .service-container .service p {
  font-size: 14px;
  color: #888888;
  line-height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.our-services .services .service-container .service span {
  margin-left: auto;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 14px;
  color: #252525;
  padding: 2px;
  border-bottom: 2px solid #950cff;
}

.our-services .services .service-container .service:hover {
  background: #860bf6;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.our-services .services .service-container .service:hover h3 {
  color: white;
}

.our-services .services .service-container .service:hover h3::before {
  background: white;
}

.our-services .services .service-container .service:hover p {
  color: white;
}

.our-services .services .service-container .service:hover span {
  color: white;
  border-color: white;
}

.news .instagram-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #950cff;
  border-radius: 22px;
  padding: 38px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 77px auto;
}

.news .instagram-row .left-side h2 {
  color: white;
  font-size: 36px;
  font-weight: bolder;
}

.news .instagram-row .left-side p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.news .instagram-row a {
  display: block;
  background: white;
  padding: 15px 40px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #252525;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news .instagram-row a:hover {
  background: #252525;
  color: white;
}

.contact {
  background-image: url(assets/bg-contato.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}

.contact .form-box {
  padding: 60px 40px;
  position: relative;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  background: white;
  border-radius: 29px;
  margin-top: 40px;
}

.contact .form-box .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.contact .form-box .checkbox input {
  width: 30px;
}

.contact .form-box .checkbox b a {
  font-weight: bold;
  color: #950cff;
}

.contact .form-box .popup {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  background: #ffffffc2;
}

.contact .form-box img {
  max-width: 310px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 260px;
}

.contact .form-box h3 {
  font-size: 28px;
  color: #252525;
  font-weight: 900;
}

.contact .form-box h3::after {
  content: "";
  display: block;
  width: 90px;
  height: 5px;
  background: #950cff;
  background: linear-gradient(159deg, #950cff 0%, #0000a7 190%);
  border-radius: 40px;
  margin-top: 6px;
  margin-bottom: 40px;
}

.contact .form-box input,
.contact .form-box select {
  padding: 14px 18px;
  border-radius: 13px;
  border: 1px solid #c2c2c2;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #4f514f;
  margin: 15px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact .form-box input::-webkit-input-placeholder,
.contact .form-box select::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input:-ms-input-placeholder,
.contact .form-box select:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input::-ms-input-placeholder,
.contact .form-box select::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input::placeholder,
.contact .form-box select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input:focus,
.contact .form-box select:focus {
  outline: none;
  border: 1px solid #950cff;
}

.contact .form-box select::-ms-expand {
  display: none;
}

.contact .form-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.contact .form-box textarea {
  padding: 14px 18px;
  border-radius: 13px;
  border: 1px solid #c2c2c2;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-family: "Inter", sans-serif;
  height: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  resize: none;
}

.contact .form-box textarea::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea:focus {
  outline: none;
  border: 1px solid #950cff;
}

.contact .form-box button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
  border: 0;
  border-radius: 12px;
  margin-top: 40px;
  background: #950cff;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .form-box button:hover {
  background: #a42cff;
}

footer {
  background: #252525;
  padding: 47px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  width: 40px;
  display: block;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

footer a img {
  display: block;
  width: 100%;
  color: white;
}

footer .top2 {
  position: relative;
  top: -2px;
}

footer p {
  color: white;
}

@media only screen and (max-width: 1100px) {
  .banner .left-side {
    padding-top: 160px;
    padding-bottom: 168px;
  }
  .banner .left-side h1 {
    font-size: 48px;
  }
  .banner .right-side img {
    max-width: 950px;
    left: -59px;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 760px;
  }
  .mobile {
    display: block;
  }
  .nomobile {
    display: none;
  }
  .news .instagram-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video .container img {
    display: none;
  }
  .who-we-are span {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .who-we-are p {
    text-align: center;
    font-size: 16px;
  }
  .news .instagram-row .right-side {
    margin-top: 20px;
  }
  .news .instagram-row .left-side p,
  .news .instagram-row .left-side h2 {
    text-align: center;
  }
  .title {
    font-size: 38px;
    text-align: center;
  }
  .video .container .video-container {
    width: 100%;
    max-width: 100%;
  }
  .video,
  .who-we-are,
  .sec,
  .section {
    padding: 80px 0;
  }
  .portfolio-2 .items {
    margin-top: 80px;
  }
  .our-services .services {
    margin-top: 40px;
  }
  .portfolio-2 .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-2 .items .cardWrap {
    margin: 0;
  }
  .portfolio-2 .items .card {
    height: 200px;
  }
  .banner .left .icon,
  .banner .right .icon {
    top: -61px;
    left: -106px;
  }
  .scroll-indicator {
    left: 46% !important;
    display: none;
  }
  .scroll-indicator i {
    font-size: 40px !important;
  }
  .burgerdiv button {
    top: 52px;
  }
  .contact .form-box h3 {
    font-size: 24px;
  }
  .banner {
    background-size: auto;
    border-top: 100px solid white;
    height: 90vh;
  }
  .banner .right {
    margin: 0;
  }
  .banner .camera img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .banner .info h1 {
    font-size: 38px;
    font-weight: bold;
    color: white;
    position: relative;
    text-align: center;
    line-height: 42px;
    margin-top: 0;
  }
  .banner .right-side {
    display: none;
  }
  .banner .left-side {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .banner .left-side h1 {
    font-size: 36px;
    line-height: 55px;
    text-align: center;
  }
  .banner .left-side h2 {
    text-align: center;
  }
  .banner .left-side a {
    margin: 0 auto;
  }
  .section-subtitle {
    font-size: 14px;
  }
  .section-title {
    font-size: 38px;
  }
  header nav {
    display: none;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    position: relative;
    display: flex !important;
  }
  header nav {
    display: none !important;
  }
  header .meet-bevel {
    display: none;
  }
  .burgerdiv {
    display: block;
  }
  .our-services .services {
    margin-top: 30px;
  }
  .our-services .services .service-container {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .our-services .services .service-container .service h3 {
    font-size: 20px;
  }
  .our-services .services .service-container .service p {
    margin-bottom: 10px;
  }
  .our-services .instagram-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 40px;
    border-radius: 9px;
  }
  .our-services .instagram-row a {
    margin-top: 20px;
  }
  .our-services .instagram-row .left-side h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 360px;
  }
  .instagram-row {
    display: none;
  }
  .contact {
    padding: 100px 0;
  }
  .contact .form-box h3 {
    font-size: 24px;
  }
  .contact .form-box .checkbox label {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
  }
  .contact .form-box .popup {
    width: 80%;
  }
  .contact .form-box .popup img {
    width: 260px;
  }
  .contact .form-box {
    margin-top: 70px;
  }
  .instagram-row {
    display: none;
  }
  .reveal {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
  }
  .video-container {
    max-width: 100%;
  }
  .news {
    display: none;
  }
  .banner {
    border-top: none;
  }
  .banner .info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .right-side {
    display: block;
    max-width: 100%;
  }
  .banner .right-side img {
    max-width: 100%;
    left: 45px;
  }
  .banner .left-side {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-top: 60px;
    padding-bottom: 70vw;
  }
  .banner .left-side h1 {
    font-size: 36px;
    line-height: 55px;
  }
  .banner .left-side h2 {
    display: none;
  }
  .banner .left-side a {
    display: none;
  }
  .section-subtitle {
    font-size: 14px;
  }
  .section-title {
    font-size: 38px;
  }
  header nav {
    display: none;
  }
  header {
    padding: 20px 0;
  }
  .about {
    padding: 100px 0;
  }
  .about .numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
  .about .numbers .number h3 p {
    font-size: 16px;
  }
  .our-services {
    padding: 80px 0;
  }
  .our-services .services {
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-services .services .service-container {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .our-services .services .service-container .service {
    margin: 0 0 15px 0;
  }
  .our-services .services .service-container .service h3 {
    font-size: 20px;
  }
  .our-services .services .service-container .service p {
    margin-bottom: 10px;
  }
  .our-services .instagram-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    margin-top: 40px;
    padding: 20px 20px;
    border-radius: 9px;
  }
  .our-services .instagram-row a {
    margin-top: 0;
    padding: 15px 24px;
    font-size: 14px;
  }
  .our-services .instagram-row p {
    display: none;
  }
  .our-services .instagram-row .left-side h2 {
    font-size: 16px;
    margin-bottom: 0px;
    text-align: left;
  }
}

.burgerdiv {
  display: none;
}

.burgerdiv button {
  position: fixed;
  top: 38px;
  right: 20px;
  width: 40px;
  height: 22px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 10;
}

.burgerdiv button span {
  position: absolute;
  left: 50%;
  width: 26px;
  height: 2px;
  background-color: #000;
}

.burgerdiv button span:nth-child(1) {
  top: 0;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burgerdiv button span:nth-child(2) {
  top: 8px;
  opacity: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burgerdiv button span:last-child {
  top: 16px;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burgerdiv button.open span button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 22px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 10;
}

.burgerdiv button.open span button span {
  position: absolute;
  left: 50%;
  width: 26px;
  height: 2px;
  background-color: #000;
}

.burgerdiv button.open span button span:nth-child(1) {
  top: 0;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burgerdiv button.open span button span:nth-child(2) {
  top: 8px;
  opacity: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burgerdiv button.open span button span:last-child {
  top: 16px;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burgerdiv button.open span button.open span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(0) rotate(45deg);
          transform: translateX(-50%) translateY(0) rotate(45deg);
  -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

.burgerdiv button.open span button.open span:nth-child(2) {
  opacity: 0;
}

.burgerdiv button.open span button.open span:last-child {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(0) rotate(-45deg);
          transform: translateX(-50%) translateY(0) rotate(-45deg);
  -webkit-transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

.burgerdiv button.open span nav {
  position: fixed;
  left: 0;
  height: 100vh;
  padding: 50px;
  background-color: #e9e9e9;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.burgerdiv button.open span nav ul {
  list-style-type: none;
  text-align: right;
}

.burgerdiv button.open span nav li {
  padding: 12px 0;
}

.burgerdiv button.open span nav a {
  position: relative;
  text-decoration: none;
  color: #000;
}

.burgerdiv button.open span nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burgerdiv button.open span .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.burgerdiv button.open span h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.burgerdiv button.open span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(0) rotate(45deg);
          transform: translateX(-50%) translateY(0) rotate(45deg);
  -webkit-transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

.burgerdiv button.open span:nth-child(2) {
  opacity: 0;
}

.burgerdiv button.open span:last-child {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(0) rotate(-45deg);
          transform: translateX(-50%) translateY(0) rotate(-45deg);
  -webkit-transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, -webkit-transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

.burgerdiv nav {
  top: 91px;
  position: fixed;
  right: 0;
  height: 100vh;
  padding: 50px;
  background-color: white;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1;
  border-left: 1px solid #e1e1e1;
}

.burgerdiv nav ul {
  list-style-type: none;
  text-align: right;
  margin-bottom: 20px;
}

.burgerdiv nav li {
  padding: 12px 0;
}

.burgerdiv nav a {
  position: relative;
  text-decoration: none;
  color: #000;
}

.burgerdiv nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burgerdiv .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.burgerdiv h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.terms {
  padding-bottom: 60px;
}

.terms h1 {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  margin: 50px 0;
}

.terms p {
  white-space: pre-line;
  line-height: 27px;
}

@media only screen and (max-width: 960px) {
  .burgerdiv button {
    top: 52px;
  }
}

@media only screen and (max-width: 600px) {
  .burgerdiv button {
    top: 38px;
  }
}

.reveal {
  position: relative;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

*::-webkit-scrollbar-button {
  background-color: #950cff;
}

*::-webkit-scrollbar-thumb {
  background-color: #950cff;
}

*::-webkit-scrollbar-track {
  background-color: #f8f9ff;
}

::-moz-selection {
  background-color: #950cff;
  color: white;
}

::selection {
  background-color: #950cff;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #950cff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #950cff;
}

.owl-prev {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40%;
  left: -65px;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
  width: 30px;
  height: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.owl-prev i {
  font-size: 50px;
}

.owl-next {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40%;
  right: -55px;
  display: block !important;
  border: 0px solid black;
  width: 30px;
  height: 50px;
}

.owl-next i {
  font-size: 50px;
}

.videos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto;
}

.videos .video-container {
  margin: 0 auto;
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  padding: 15px;
}

.videos .video-container .video-title {
  background: #5E07DE;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 25px;
  color: white;
}

.videos .video-container .video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.videos .video-container .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.websites {
  margin-top: 100px;
}

.websites .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #B7B7B7;
  margin-top: 20px;
}

.websites .item img {
  width: 100%;
  display: block;
}

.websites .item h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 0 50px;
  color: white;
}

.floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.cardWrap {
  margin: 10px;
  -webkit-transform: perspective(800px);
  transform: perspective(800px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cardWrap:hover .cardInfo {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cardWrap:hover .cardInfo p {
  opacity: 1;
}

.cardWrap:hover .cardInfo,
.cardWrap:hover .cardInfo p {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardWrap:hover .cardInfo:after {
  -webkit-transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cardWrap:hover .cardBg {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}

.cardWrap:hover .card {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
          box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 240px;
      flex: 0 0 240px;
  width: 100%;
  height: 360px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
          box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cardBg {
  opacity: 1;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.cardInfo {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo * {
  position: relative;
  z-index: 1;
}

.cardInfo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cardInfo h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

body {
  background: #f9f9f9;
  color: #333;
}

.scroll-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 170px;
  color: white;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

.scroll-indicator i {
  font-size: 50px;
}

@-webkit-keyframes bounce {
  0% {
    translate: 0 20px;
  }
  50% {
    translate: 0 60px;
  }
  100% {
    translate: 0 20px;
  }
}

@keyframes bounce {
  0% {
    translate: 0 20px;
  }
  50% {
    translate: 0 60px;
  }
  100% {
    translate: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */