header {
  background-color: #1F1F2C;
  position: relative;
}
header .logo {
  cursor: pointer;
  max-width: 140px;
}
header .logo img {
  width: 100%;
}
header .header {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .meet-bevel {
  display: flex;
  justify-content: flex-end;
}
header .meet-bevel a {
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 12px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
header .meet-bevel a .top-fix {
  position: relative;
  top: 2px;
}
header .meet-bevel a:hover {
  background: #363636;
}
header nav {
  display: flex;
}
header nav a {
  padding: 10px;
  margin: 0 15px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
header nav a:hover {
  color: #e1e1e1;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0 50px 0;
  gap: 20px;
}
.item-container .item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #535353;
  border-radius: 50px;
  padding: 10px 0px;
  flex: 1;
}
.item-container .item h2 {
  color: #535353;
  font-size: 18px;
  font-weight: bold;
}
.item-container .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #260B4D;
  padding: 40px;
  border-radius: 50%;
}
.item-container .item .icon img {
  max-width: 116px;
}
.item-container .item.active {
  background-color: #5E07DE;
}
.item-container .item.active h2 {
  color: white;
}

.polygon {
  width: 60px;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -32px;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #252525;
  font-family: "Inter";
}

.fotos-section {
  padding-top: 80px;
}
.fotos-section .title {
  font-size: 28px;
  font-weight: bold;
  color: #252525;
}
.fotos-section .fotos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
.fotos-section .fotos .foto {
  flex: 0 0 33%;
  max-width: 32%;
  box-sizing: border-box;
  padding: 6px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.fotos-section .fotos .foto img {
  max-width: 100%;
}
.fotos-section .fotos .foto:hover {
  transform: translateY(-7px);
}

.contact-2 {
  padding: 100px 0;
}
.contact-2 .box {
  background-color: #e1e1e1;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px;
}
.contact-2 .box h2 {
  font-size: 30px;
  color: #252525;
  font-weight: bold;
  max-width: 460px;
  text-align: center;
}
.contact-2 .box a {
  margin-top: 40px;
  background: #5E07DE;
  color: white;
  border-radius: 10px;
  padding: 18px 46px;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.websites {
  margin-top: 100px;
}
.websites .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #B7B7B7;
  margin-top: 20px;
}
.websites .item img {
  width: 100%;
  display: block;
}
.websites .item h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 0 50px;
  color: white;
}

.items {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.items .item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.items .item:hover {
  transform: translateY(-7px);
}
.items .info {
  position: absolute;
  bottom: 50px;
  left: 40px;
  font-family: "Inter";
}
.items .info h2 {
  font-weight: bold;
  color: white;
  font-size: 28px;
}
.items .info h2::before {
  content: "";
  display: block;
  height: 5px;
  width: 73px;
  margin-bottom: 10px;
  background-color: white;
}
.items .info p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.owl-next,
.owl-prev {
  background: #cdcdcd !important;
}
.owl-next:hover,
.owl-prev:hover {
  background: #afafaf !important;
}

@media only screen and (max-width: 960px) {
  .header {
    padding: 35px 30px !important;
  }
  .header .logo {
    max-width: 100px !important;
  }
  .container {
    max-width: 360px !important;
    width: 100%;
    box-sizing: border-box;
  }
  .fotos {
    flex-direction: column;
    margin: 0 !important;
  }
  .fotos .foto {
    max-width: 100% !important;
    flex: 1;
    flex: 1;
    width: 100% !important;
    max-width: 100%;
  }
  .contact-2 {
    padding-bottom: 100px;
    padding-top: 0;
  }
  .contact-2 .box h2 {
    font-size: 24px;
  }
  .contact-2 .box a {
    margin-top: 40px;
    background: #5E07DE;
    color: white;
    border-radius: 10px;
    padding: 18px 16px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
  }
  .polygon {
    display: none;
  }
  header {
    flex-direction: column;
  }
  .item-container {
    flex-direction: column;
  }
  .item-container a {
    display: block;
    text-align: center;
    width: 100%;
  }
  .video-container {
    max-width: 100% !important;
    width: 100% !important;
    flex: 1 !important;
  }
  .videos .container {
    gap: 20px;
    flex-direction: column;
  }
  .videos .container .video-container {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .items {
    flex-direction: column;
    margin: 0;
  }
  .items .info {
    bottom: 30px;
    left: 25px;
  }
  .items .info h2 {
    font-size: 24px;
  }
  .items img {
    height: auto;
    width: 100%;
  }
  .contact-2 .box h2, .contact-2 .box p {
    font-family: "Inter";
  }
  .owl-next, .owl-prev {
    display: none !important;
  }
}/*# sourceMappingURL=portfolio.css.map */